@{
    ViewData["Title"] = "Prescribe";
}

<div data-label="Example" class="df-example demo-forms">
    <form id="form1" class="needs-validation was-validated" novalidate>
        <div class="row row-sm mg-b-10">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Valid state">
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                <input type="text" class="form-control" placeholder="Invalid state" required>
                <div class="invalid-feedback">This is required</div>
            </div>
            <div class="col-sm-6 mg-t-10">
                <textarea class="form-control" rows="2" placeholder="Valid state"></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-sm-6 mg-t-10">
                <textarea class="form-control" rows="2" placeholder="Invalid state" required></textarea>
                <div class="invalid-feedback">This is required</div>
            </div>
        </div><!-- row -->
    </form>
</div><!-- df-example -->